@charset "utf-8";

body {
	background-color: black;
	font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
		width: 97%;
		margin: 0 auto;
}
header {
	background-image: url(TCMCbanner01.png);
	height: 7.1em;
}
header h1 {
	color: white;
	margin-left: 6em;
}

header img {
	float: left;
	padding-right: 0;
	padding-top: 20px;
}

header h2 {
	padding-left: 0.2em;
}

.nav {
	overflow: hidden;
	background-color:#02071F;
	width: 75%;
	height: 3em;
	float: right;
}
.nav a {
	float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

.nav a:hover, .dropdown:hover {
	background-color: gray;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color:inherit;
}
#membershipform {
	clear: both;
	width: 31%;
	float: left;
	height: 60%;
	background-color:azure;
	margin: 5px;
	padding: 5px;
	font-size: 95%;
}
.member_frm {
	width: 100%;
}
#membershipform h1, h2 {
	font-size: 110%;
}
div {
	margin-bottom: 0.4em;
}

.row {
	clear: both;
}

.col {
	float: left;
}

#membershipform label {
	width:6em;
	float: left;
	text-align: right;
	margin-right: 0.4em;
	}
	
#reset {
	margin-left: 0.5em;
}

.error_msg {
	color: red;
	font-size: 80%;
}

#pwd_msg, #zip_msg {
	margin-left: 5px;
}
#membershipform h3 {
	background-color:#A2E4EA;
	padding: 2px;
}

#contact {
	width: 60%;
	float: left;
	height: 60%;
	background-color:aliceblue;
	margin: 7px;
	padding: 10px;	
}
#contact h1 {
	margin-left: 20px;
	font-size: 190%;
}
#contact img {
	float:right;
	margin-top: 2em;
}
#logo {
	text-align:right;
}
#Current_Event {
	font-size: 110%;
	margin-left: 20px;
}
#guidelines {
	background-color: lightgreen;
	font-size: 110%;
	margin-left: 16px;
}	
#event_detail {
	float: right;
	margin-right: 2em;
	padding-left: 2em;
}
#join_us {
	margin-left: 10px;
	margin-right: 10px;
}

#centre {
	width: 95%;
	clear: both;
	float: left;
	text-align: center;
	font-size: 105%;
	background-color: aliceblue;
}
#centre img {
	text-align: center;
}
#centre h1 {
	font-size: 120%;
}
#support {
	width: 95%;
	clear: both;
	float: left;
	text-align: center;
	font-size: 105%;
	background-color: aliceblue;
}
#support img {
	text-align: center;
}
#support h1 {
	font-size: 120%;
}
footer {
	clear:both;
	font-size:105%;
	height:13%;
	text-align:center;
	background-color: #02071F;
}
footer img {
	float:right;
}

